@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="dataTable" lay-filter="tableFilter"></table>

<script type="text/html" id="toolbox">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="headtool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" onclick="scan();">扫描</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#dataTable'
            , url: '/Authority/list' //数据接口
            , page: true //开启分页
            , toolbar: '#headtool'
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ID', title: 'ID', sort: true, fixed: 'left' }
                , { field: 'ParentName', title: '目录' }
                , { field: 'Action', title: '路径' }
                , { field: 'ActionDesc', title: '路径名' }
                , { field: 'SortCode', title: '排序码', sort: true }
                , { fixed: 'right', width: 165, align: 'center', toolbar: '#toolbox' }
            ]]
        });

        table.on('tool(tableFilter)', function (obj) { //注：tool 是工具条事件名，tableFilter 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post('@Url.Action("Delete")', { "id": obj.data["ID"]}, function (d) {
                        if (d.Status == 200) {
                            layer.msg('删除成功')
                            location.href = '@Url.Action("index")';
                        } else {
                            layer.msg(d.Message)
                        }
                    }, 'json')
                });
            } else if (layEvent === 'edit') { //编辑
                location.href = '/authority/edit?id=' + obj.data["ID"];
            } else if (layEvent === 'add') { //新增
                location.href = '/authority/edit';
            } else if (layEvent === 'scan') { //扫描
                scan();
            }
        });

    });
</script>

<script>
    function scan() {
        $.post('@Url.Action("scan")', function (d) {
            if (d.Status == 200) {
                layer.msg('扫描成功')
                location.reload();
            } else {
                layer.msg(d.Message)
            }
        }, 'json')
    }
</script>