@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="dataTable" lay-filter="tableFilter"></table>

<script type="text/html" id="toolbox">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="headtool">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="add">新增</a>
</script>
<script>
    layui.use('table', function () {
        var table = layui.table;

        //第一个实例
        table.render({
            elem: '#dataTable'
            , url: '@Url.Action("list")' //数据接口
            , page: true //开启分页
            , toolbar: '#headtool'
            , cols: [[ //表头
                { type: 'checkbox', fixed: 'left' }
                , { field: 'ID', title: 'ID', sort: true, fixed: 'left' }
                , { field: 'Title', title: '标题' }
                , { field: 'SortCode', title: '排序码', sort: true }
                , { fixed: 'right', width: 165, align: 'center', toolbar: '#toolbox' }
            ]]
        });

        table.on('tool(tableFilter)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); 
                    layer.close(index);
                    //向服务端发送删除指令
                    $.post('@Url.Action("Delete")', { "id": obj.data["ID"]}, function (d) {
                        if (d.Status == 200) {
                            layer.msg('删除成功')
                            location.href = '@Url.Action("index")';
                        } else {
                            layer.msg(d.Message)
                        }
                    }, 'json')
                });
            } else if (layEvent === 'edit') { //编辑
                location.href = '/article/edit?id=' + obj.data["ID"];
            } else if (layEvent === 'add') { //新增
                location.href = '/article/edit';
            }
        });

    });


</script>